<div class="bg-light">
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <nav class="navbar navbar-expand-lg navbar-light bg-light remove-NavPadding">
            <a class="navbar-brand" href="/">
              <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/4/48/Dell_Logo.svg">
            </a>
            <a href="/" style="text-decoration: none;">
              <span id="webtitle">Dell Visitor Registration</span>
            </a>
          </nav>
        </div>
        <div class="col-sm-4 top-btn d-flex justify-content-end">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/user/{{ userId }}/requests">View Request</button>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <div class="row main-box">
    <div class="col-sm-10">
      <h3>Request Details - {{ requestInfo.request.id }} - Edit</h3>
    </div>
  </div>
  <div class="row" id="line"></div>
  <form id="requestForm" [formGroup]="requestForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group row">
      <label for="name-input" class="col-sm-2 col-form-label">Visitor's Name <span class="asterisk">&#42;</span>:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name-input" formControlName="visitorName" placeholder="Name" value="{{ requestInfo.request.name }}" required>
      </div>
      <label for="phone-input" class="col-sm-2 col-form-label">Phone <span class="asterisk">&#42;</span>:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="phone-input" formControlName="phoneNumber" placeholder="Phone Number" value="{{ requestInfo.request.phone }}" required>
      </div>
    </div>
    <div class="form-group row">
      <label for="ic-input" class="col-sm-2 col-form-label">IC/Passport No. <span class="asterisk">&#42;</span>:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="ic-input" formControlName="icNumber" placeholder="IC Number" value="{{ requestInfo.request.ic }}" required>
      </div>
      <label for="carPlate-input" class="col-sm-2 col-form-label">Car Plate :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="carPlate-input" formControlName="carplateNumber" placeholder="Car Plate Number" value="{{ requestInfo.request.carPlate }}">
      </div>
    </div>
    <div class="form-group row">
      <label for="visitTo-input" class="col-sm-2 col-form-label">Visit On <span class="asterisk">&#42;</span>:</label>
      <div class="col-sm-2">
        <mat-form-field class="datepicker">
          <input matInput [matDatepicker]="visitOnpicker" [min]="minDate" formControlName="visitOnDate" placeholder="Choose a date" [value]="fromDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="visitOnpicker"></mat-datepicker-toggle>
          <mat-datepicker #visitOnpicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <input type="time" class="form-control" formControlName="visitOnTime" name="usr_time" value="{{ fromTime }}" required>
      </div>
      <label for="visitTo-input" class="col-sm-2 col-form-label">Visit To <span class="asterisk">&#42;</span>:</label>
      <div class="col-sm-2">
        <mat-form-field class="datepicker">
          <input matInput [matDatepicker]="visitTopicker" [min]="minDate" formControlName="visitToDate" placeholder="Choose a date" [value]="toDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="visitTopicker"></mat-datepicker-toggle>
          <mat-datepicker #visitTopicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <input type="time" class="form-control" formControlName="visitToTime" name="usr_time" value="{{ toTime }}" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="row">
          <label  class="col-sm-3" for="visitReason-input">Reason to visit <span class="asterisk">&#42;</span>:</label>
        </div>
        <textarea class="form-control" id="visitReason-input" formControlName="visitReason" rows="3" value="{{ requestInfo.request.purpose }}" required></textarea>
      </div>
    </div>
    <h3 id="contact">Contact - Person to escort</h3>
    <div class="contact-box">
      <div class="row onepercentpadding">
        <div class="col-sm-6">
          <h5>Primary Contact</h5>
          <div class="row">
            <label class="setMargin col-sm-3">&nbsp;Name <span class="asterisk">&#42;</span>:</label>
          </div>
          <input type="text" class="form-control" id="primaryContact-input" [matAutocomplete]="auto" formControlName="primaryCN" placeholder="Full name">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let name of (filteredPrimaryUsers | async)" [value]="name">{{ name }}</mat-option>
          </mat-autocomplete>
          <div class="row">
            <label class="setMargin col-sm-5">&nbsp;Phone Number <span class="asterisk">&#42;</span>:</label>
          </div>
          <input type="text" class="form-control" formControlName="primaryPhone" placeholder="Phone Number" value="{{ requestInfo.request.primaryContactPhone }}" required>
        </div>
        <div class="col-sm-6">
          <h5>Alternative Contact</h5>
          <label class="setMargin">&nbsp;Name :</label>
          <input type="text" class="form-control" id="alternativeContact-input"  [matAutocomplete]="auto2" formControlName="alternativeCN" placeholder="Full name">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let name of (filteredAlternativeUsers | async)" [value]="name">{{ name }}</mat-option>
          </mat-autocomplete>
          <label class="setMargin">&nbsp;Phone Number :</label>
          <input type="text" class="form-control" formControlName="alternativePhone" placeholder="Phone Number" value="{{ requestInfo.request.alternativeContactPhone }}">
        </div>
      </div>
    </div>
    <div class="row" id="line"></div>
    <div class="form-group row">
      <div class="col-sm-1 offset-sm-10">
        <button type="button" class="btn btn-danger" routerLink="/user/{{ userId }}/request/{{ requestInfo.request.id }}">Cancel</button>
      </div>
      <div class="col-sm-1" *ngIf="requestInfo.request.status == 'Expected'">
        <button type="submit" class="btn btn-primary mb-2">Save</button>
      </div>
    </div>
  </form>
</div>
