/* You can add global styles to this file, and also import other style files */
#logo {
    width: 40px;
    height: 40px;
}

.top-btn {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
}

.topbtn-marginleft {
    margin-left: 3%;
}

.remove-NavPadding {
    padding-left: 0;
    padding-right: 0;
}

#webtitle {
    font-size: 18px;
    color: 	#3287c1;
}

.setMargin {
    margin-bottom: 0;
    margin-top: 3%;
}

#viewRequest-btn {
    margin-right: 10%;
}

.main-box {
    margin-top: 3%;
}

.asterisk {
    color: red;
    margin-right: 2%;
}

#line {
    border-bottom: 1px solid #D7D7D7;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#contact {
    margin-bottom: 2%;
}

.onepercentpadding {
    padding: 1%;
}

.contact-box {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-bottom: 5%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
