#registration-box {
    margin-bottom: 3%;
}

.sub-box {
    background: rgba(214, 213, 213, 0.5);
    margin-top: 2%;
    padding: 1%;
    border-radius: 5px;
}

#btn-section {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
}