<div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Registration Details</h3>
    </div>
  </div>
  <div class="row" id="line"></div>
  <div class="d-flex flex-column" id="registration-box">
      <div class="row">
        <div class="col-sm-12">
          <h5>Total Visit Days - {{ totalVisitDay }}</h5>
        </div>
      </div>
    <div *ngFor="let details of registrationDetails;let i = index" class="sub-box">
      <div class="row d-flex">
        <div class="col-sm-2">
          <label><b>Visit Date</b></label>
          <p>{{ details.visitDate }}</p>
        </div>
        <div *ngIf="details.checkInTime == null" class="col-sm-2">
          <label><b>Belongings</b></label>
          <textarea [formControl]="belongingsForm" class="form-control" aria-label="All belongings"></textarea>
        </div>
        <div *ngIf="details.checkInTime != null" class="col-sm-2">
          <label><b>Belongings</b></label>
          <p>{{ details.belongings }}</p>
        </div>
        
        <div *ngIf="details.checkInTime == null" class="col-sm-3">
          <label><b>Escort By</b></label>
          <input [formControl]="escortForm" [matAutocomplete]="auto" type="text" class="form-control">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let name of (filteredUsers | async)" [value]="name">{{ name }}</mat-option>
          </mat-autocomplete>
        </div>

        <div *ngIf="details.checkInTime != null" class="col-sm-3">
          <label><b>Escort By</b></label>
          <p>{{ details.escortBy }}</p>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div *ngIf="details.checkInTime == null" class="col-sm-6">
              <label><b>Check-In</b></label>
              <p>-</p>
            </div>
            <div *ngIf="details.checkInTime != null" class="col-sm-6">
              <label><b>Check-In</b></label>
              <p>{{ details.checkInTime }}</p>
            </div>
            <div *ngIf="details.checkOutTime == null" class="col-sm-6">
              <label><b>Check-Out</b></label>
              <p>-</p>
            </div>
            <div *ngIf="details.checkOutTime != null" class="col-sm-6">
              <label><b>Check-Out</b></label>
              <p>{{ details.checkOutTime }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-2 d-flex justify-content-center" id="btn-section">
          <button *ngIf="details.checkInTime == null" (click)="checkIn()" type="button" class="btn btn-outline-primary">Check In</button>
          <button *ngIf="details.checkInTime != null && details.checkOutTime == null" (click)="checkOut()" type="button" class="btn btn-outline-primary">Check Out</button>
        </div>
      </div>
    </div>
  </div>
</div>
