<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light offset-sm-1">
    <a class="navbar-brand" href="/">
      <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/4/48/Dell_Logo.svg">
    </a>
    <a href="/" style="text-decoration: none;">
      <span id="webtitle">Dell Visitor Registration</span>
    </a>
      <ul class="navbar-nav mr-auto ml-5"></ul>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="viewRequest-btn" routerLink="/user/{{ userId }}/requests">View Request</button>
  </nav>
</header>
<div class="container">
<div class="row main-box">
  <h3>Request</h3>
</div>
<div class="row" id="line"></div>
  <form id="requestForm" [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="name-input" class="col-sm-2 col-form-label">Visitor's Name :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name-input" formControlName="visitorName" placeholder="Name">
      </div>
      <label for="phone-input" class="col-sm-2 col-form-label">Phone :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="phone-input" formControlName="phoneNumber" placeholder="Phone Number">
      </div>
    </div>
    <div class="form-group row">
      <label for="ic-input" class="col-sm-2 col-form-label">IC Number :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="ic-input" formControlName="icNumber" placeholder="IC Number">
      </div>
      <label for="carPlate-input" class="col-sm-2 col-form-label">Car Plate :</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="carPlate-input" formControlName="carplateNumber" placeholder="Car Plate Number">
      </div>
    </div>
    <div class="form-group row">
      <label for="visitTo-input" class="col-sm-2 col-form-label">Visit On :</label>
      <div class="col-sm-2">
        <mat-form-field class="datepicker">
          <input matInput [matDatepicker]="visitOnpicker" formControlName="visitOnDate" placeholder="Choose a date" readonly>
          <mat-datepicker-toggle matSuffix [for]="visitOnpicker"></mat-datepicker-toggle>
          <mat-datepicker #visitOnpicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <input type="time" class="form-control" formControlName="visitOnTime" name="usr_time">
      </div>
      <label for="visitTo-input" class="col-sm-2 col-form-label">Visit To :</label>
      <div class="col-sm-2">
        <mat-form-field class="datepicker">
          <input matInput [matDatepicker]="visitTopicker" formControlName="visitToDate" placeholder="Choose a date" readonly>
          <mat-datepicker-toggle matSuffix [for]="visitTopicker"></mat-datepicker-toggle>
          <mat-datepicker #visitTopicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <input type="time" class="form-control" formControlName="visitToTime" name="usr_time">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="visitReason-input">Reason to visit :</label>
        <textarea class="form-control" id="visitReason-input" formControlName="visitReason" rows="3"></textarea>
      </div>
    </div>
    <h3 id="contact">Contact - Person to escort</h3>
    <div class="contact-box">
      <div class="row onepercentpadding">
        <div class="col-sm-6">
          <h5>Primary Contact</h5>
          <label class="setMargin">&nbsp;Name :</label>
          <input type="text" class="form-control" id="primaryContact-input" [matAutocomplete]="auto" formControlName="primaryCN" placeholder="Full name">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let name of allNames" [value]="name">{{ name }}</mat-option>
          </mat-autocomplete>
          <label class="setMargin">&nbsp;Phone Number :</label>
          <input type="text" class="form-control" formControlName="primaryPhone" placeholder="Phone Number">
        </div>
        <div class="col-sm-6">
          <h5>Alternative Contact</h5>
          <label class="setMargin">&nbsp;Name :</label>
          <input type="text" class="form-control" id="alternativeContact-input"  [matAutocomplete]="auto2" formControlName="alternativeCN" placeholder="Full name">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let name of allNames" [value]="name">{{ name }}</mat-option>
          </mat-autocomplete>
          <label class="setMargin">&nbsp;Phone Number :</label>
          <input type="text" class="form-control" formControlName="alternativePhone" placeholder="Phone Number">
        </div>
      </div>
    </div>
    <div *ngIf="isSubmitted == false" class="alert alert-danger" role="alert">
      Please fill in all the required fields.
    </div>
    
    <div class="row" id="line"></div>
    <div class="form-group row">
      <div class="col-sm-1 offset-sm-11">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
  </form>
</div>