<header class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-light bg-light offset-sm-1">
    <a class="navbar-brand" href="#">
      <img id="logo" src="https://upload.wikimedia.org/wikipedia/commons/4/48/Dell_Logo.svg">
    </a>
      <span id="webtitle">Dell Visitor Registration</span>
      <ul class="navbar-nav mr-auto ml-5">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" style="padding: 0;">Home</a>
        </li>
      </ul>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/user/userId/requests" style="margin-right: 1%;">View Request</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/" id="submitRequest-btn">Submit Request</button>
  </nav>
</header>
<div class="container">
  <div class="row main-box">
    <h3>Request Details</h3>
  </div>
  <div class="row" id="line"></div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Visitor's Name :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">Dastan</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Phone :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">0124868862</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Status :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">Pending to visit</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">IC Number :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">123456011234</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Car Plate :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">PJA1234</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Visit On :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">7/19/2019 9:00 AM</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Visit To :</label>
        </div>
        <div class="col-sm-6">
          <label class="details-font">7/20/2019 19:00 PM</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="details-font">Reason To Visit :</label>
        </div>
        <div class="col-sm-6 visitReason-text">
          <p>jhdwuqheohwoeuhqoweoiqweoiqwueoiquwroiuqwoiruqoiwuroiwquroihgsjdnjksdnkj</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">

    </div>
  </div>
</div>